# Xcode
.DS_Store
*/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace
!default.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap

# Swift Package Manager
.swiftpm/
Packages/
.checkouts/
.build/

# CocoaPods
Pods/
!Podfile.lock

# Carthage
Carthage/
!Cartfile.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# AppCode
.idea/

# OS X
*.swp
*.swo
*~
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Local development files
.env
.env.local

# Logs
*.log

#Ignore GoogleService-Info.plist file
GoogleService-Info.plist
.plist
